<div class="row">
    <div class="col-md-8">
        <p class="page-label">Categories</p>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Type</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let category of allCategories">
                    <td>{{category.id}}</td>
                    <td>{{category.name}}</td>
                    <td>{{category.type}}</td>
                    <td>
                        <i title="Delete this category" class="material-icons button-like"
                            (click)="onCategoryDeleteRequested(category.id)">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>