<div class="row">
    <div class="col-md-8">
        <p class="page-label">Recipients</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <button mat-raised-button color="primary" (click)="onAddNewRecipientRequested()">Add new recipient</button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th></th>
            </thead>
            <tbody>
                <tr *ngFor="let recipient of allRecipients">
                    <td>{{recipient.id}}</td>
                    <td>{{recipient.name}}</td>
                    <td>
                        <i title="Delete this recipient" class="material-icons button-like"
                            (click)="onRecipientDeleteRequested(recipient.id)">delete</i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>